imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: ru

framework:
    #esi: ~
    translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.project_dir%/app/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    session:
        # https://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id: session.handler.native_file
        save_path: '%kernel.project_dir%/var/sessions/%kernel.environment%'
    fragments: ~
    http_method_override: true
    assets:
        packages:
            js: ~
            css: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        connections:
            doctrine:
                driver: pdo_mysql
                host: '%database_host%'
                port: '%database_port%'
                dbname: '%database_name%'
                user: '%database_user%'
                password: '%database_password%'
                charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: '%kernel.project_dir%/var/data/data.sqlite'
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
#        auto_generate_proxy_classes: '%kernel.debug%'
#        naming_strategy: doctrine.orm.naming_strategy.underscore
#        auto_mapping: true
        entity_managers:
            doctrine:
                connection: doctrine
                mappings:
                    AppBundle: ~

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

#sonata admin
sonata_block:
    default_context: [cms]
    blocks:
        # enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts: [admin]

sonata_admin:
    title: 'Должники'
    show_mosaic_button: false
    options:
        html5_validate: false
    templates:
        layout: 'AppBundle:Admin:layout.html.twig'
    dashboard:
        blocks:
            - { position: left, type: sonata.admin.block.admin_list }
        groups:
            cms.user:
                label: Пользователи
                icon: '<i class="fa fa-user"></i>'
                on_top: true
                roles: [ROLE_SUPER_ADMIN]
            cms.company:
                label: Управляющие компании
                icon: '<i class="fa fa-calculator"></i>'
                on_top: true
                roles: [ROLE_SUPER_ADMIN]
            cms.address_book:
                label: Справочник адресов
                icon: '<i class="fa fa-book"></i>'
                roles: [ROLE_ADMIN]
            cms.flat:
                label:  Помещения
                icon: '<i class="fa fa-home"></i>'
                on_top: true
                roles: [ROLE_ADMIN]
            cms.template:
                label:  Шаблоны
                icon: '<i class="fa fa-file"></i>'
                on_top: true
                roles:  [ROLE_SUPER_ADMIN]

#fos user
fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
#        address: "%mailer_user%"
#        sender_name: "%mailer_user%"
        address: 'test'
        sender_name: 'test'

#doctrine migration
doctrine_migrations:
    dir_name: "%kernel.root_dir%/../src/AppBundle/DoctrineMigrations"
    namespace: AppBundle\DoctrineMigrations
    table_name: migration_versions
    name: Debtor Migrations

#assetic
assetic:
    debug:          '%kernel.debug%'
    use_controller: false
    filters:
        cssrewrite: ~
    assets:
        libsjs:
            inputs:
                - 'bundles/app/js/libs.min.js'
        cms_core:
            inputs:
                - 'bundles/app/js/cms/core/core.module.js'
                - 'bundles/app/js/cms/core/core.config.js'
                - 'bundles/app/js/cms/core/core.run.js'
                - 'bundles/app/js/cms/core/services/*.js'
                - 'bundles/app/js/cms/core/controllers/*.js'
                - 'bundles/app/js/cms/core/directives/*.js'

        cms_flat:
            inputs:
                - 'bundles/app/js/cms/flat/controllers/*.js'
                - 'bundles/app/js/cms/flat/filters/*.js'

        cms_modules:
            inputs:
                - 'bundles/app/js/cms/flat/flat.module.js'

        cmsjs:
            inputs:
                - '@cms_core'
                - '@cms_modules'
                - 'bundles/app/js/cms/cms.js'

#doctrine extension
stof_doctrine_extensions:
    orm:
        doctrine:
            sluggable: true
            timestampable: true
