<div class="form-group">
    <label for="bossName" class="control-label">ФИО руководителя</label>
    <input name="bossName" id="bossName" type="text" class="form-control" ng-model="currentDebtor.bossName">
</div>