<div class="form-group">
    <label for="bossPosition" class="control-label">Должность руководителя</label>
    <input name="bossPosition" id="bossPosition" type="text" class="form-control" ng-model="currentDebtor.bossPosition">
</div>