<div class="form-group">
    <label for="location" class="control-label">{{ label }}</label>
    <input name="location" id="location" type="text" class="form-control" ng-model="currentDebtor.location">
</div>