<div class="form-group">
    <label for="placeOfBirth" class="control-label">Место рождения</label>
    <input name="placeOfBirth" id="placeOfBirth" type="text" class="form-control" ng-model="currentDebtor.placeOfBirth">
</div>