<div class="col-md-12">
    <div class="sonata-ba-collapsed-fields">
        <div ng-show="subscribers.length">
            <table class="table table-bordered table-striped sonata-ba-list">
                <thead>
                    <tr class="sonata-ba-list-field-header">
                        <th>ФИО</th>
                        <th>Лицевой счет</th>
                        <th>Телефон</th>
                        <th>E-mail</th>
                        <th>Дата заполнения</th>
                        <th>Дата открытия лицевого счета</th>
                        <th>Дата закрытия лицевого счета</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="subscriber in subscribers" style="background-color: #befab4">
                        <td>[[ subscriber.name ]]</td>
                        <td>[[ subscriber.personalAccount.account ]]</td>
                        <td>[[ subscriber.phone ]]</td>
                        <td>[[ subscriber.email ]]</td>
                        <td>[[ subscriber.dateDebt | date ]]</td>
                        <td>[[ subscriber.personalAccount.dateOpenAccount | date ]]</td>
                        <td>[[ subscriber.personalAccount.dateCloseAccount | date ]]</td>
                        <td>
                            <a class="btn btn-success" ng-click="subscriber.isShow = !subscriber.isShow" ng-hide="subscriber.isShow"><i class="fa fa-eye"></i> Показать</a>
                            <a class="btn btn-success" ng-click="subscriber.isShow = !subscriber.isShow" ng-show="subscriber.isShow"><i class="fa fa-eye"></i> Скрыть</a>
                            <a class="btn btn-success" ng-click="openSubscriberForm(subscriber)"><i class="fa fa-pencil"></i> Редактировать</a>
                        </td>
                    </tr>
                    <tr ng-repeat-end ng-show="subscriber.isShow" style="background-color: #befab4">
                        <td colspan="8">
                            <p>ФИО: <strong>[[ subscriber.name ]]</strong></p>
                            <p>Лицевой счет: <strong>[[ subscriber.personalAccount.account ]]</strong></p>
                            <p>Дата открытия лицевого счета: <strong>[[ subscriber.personalAccount.dateOpenAccount | date ]]</strong></p>
                            <p>Дата закрытия лицевого счета: <strong>[[ subscriber.personalAccount.dateCloseAccount | date ]]</strong></p>
                            <p>Телефон: <strong>[[ subscriber.phone ]]</strong></p>
                            <p>E-mail: <strong>[[ subscriber.email ]]</strong></p>
                            <p>Дата заполнения: <strong>[[ subscriber.dateDebt | date ]]</strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-bottom: 20px">
            <p ng-hide="subscribers.length">Список абонентов пуст</p>
            {% include '@App/Admin/Flat/Subscriber/subscriber_form.html.twig' %}
        </div>
    </div>
</div>