<ng-form name="subscriber" novalidate ng-cloak>
    <a class="btn btn-success" ng-click="openSubscriberForm()" ng-hide="state.openedSubscriberForm"><i class="fa fa-plus"></i> Добавить абонента</a>
    <a class="btn btn-success" ng-click="closeSubscriberForm(subscriber)" ng-show="state.openedSubscriberForm"><i class="fa fa-close"></i> Закрыть форму</a>
    <div ng-show="state.openedSubscriberForm" style="margin-top: 10px">

        {% include '@App/Admin/Flat/Subscriber/form_control/name.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/personal_account.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/phone.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/email.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/date_debt.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/sum_debt.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/sum_fine.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/date_open_account.html.twig' %}

        {% include '@App/Admin/Flat/Subscriber/form_control/date_close_account.html.twig' %}

        <button class="btn btn-success" ng-click="submit($event, subscriber)">
            <i class="fa fa-save"></i>
            Сохранить
        </button>
    </div>
</ng-form>
