<div class="form-group" ng-class="{'has-error': form.number.$invalid && form.number.$dirty}">
    <label for="number" class="control-label required">Номер</label>
    <input name="number" id="number" type="text" class="form-control" ng-model="state.blocks.flat.model.number" required backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="form.number.$invalid && form.number.$dirty" ng-messages="form.number.$error">
        <ul class="list-unstyled">
            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите номер</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ form.number.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>
