<div class="form-group" ng-class="{'has-error': subscriber.dateCloseAccount.$invalid && subscriber.dateCloseAccount.$dirty}">
    <label for="dateCloseAccount" class="control-label">Дата закрытия лицевого счета</label>
    <input name="dateCloseAccount" id="dateCloseAccount" type="text" class="form-control" ng-model="state.currentSubscriber.dateCloseAccount" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="subscriber.dateCloseAccount.$invalid && subscriber.dateCloseAccount.$dirty" ng-messages="subscriber.dateCloseAccount.$error">
        <ul class="list-unstyled">
            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата закрытия лицевого счета</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ subscriber.dateCloseAccount.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>