<div class="form-group" ng-class="{'has-error': subscriber.phone.$invalid && subscriber.phone.$dirty}">
    <label for="phone" class="control-label">Телефон</label>
    <input name="phone" id="phone" type="number" class="form-control" ng-model="state.currentSubscriber.phone" ng-pattern="/^\d+$/" backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="subscriber.phone.$invalid && subscriber.phone.$dirty" ng-messages="subscriber.phone.$error">
        <ul class="list-unstyled">
            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Невено указан телефон</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ subscriber.phone.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>