<div class="form-group" ng-class="{'has-error': subscriber.sumDebt.$invalid && subscriber.sumDebt.$dirty}">
    <label for="sumDebt" class="control-label">Сумма долга</label>
    <input name="sumDebt" id="sumDebt" type="text" class="form-control" ng-model="state.currentSubscriber.sumDebt" ng-pattern="/^\d{1,}(\.\d{1,2})?$/" backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="subscriber.sumDebt.$invalid && subscriber.sumDebt.$dirty" ng-messages="subscriber.sumDebt.$error">
        <ul class="list-unstyled">
            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма долга</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ subscriber.sumDebt.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>