{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.archive %}
        <span class="label label-success">в архиве</span>
    {% else %}
        {% if object.flatsEvents | length %}
            {% for flatEvent in object.flatsEvents %}
                <span>{{ flatEvent.event.name }}({{ flatEvent.dateGenerate.format('d.m.Y') }})</span>
                <span>{{ flatEvent.data.show | raw }}</span>
            {% endfor %}
        {% else %}
            <span class="label label-success">отсутствует</span>
        {% endif %}
    {% endif %}
{% endblock %}