{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if not object.archive %}
        {{ object.template }}
        <a href="{#добавить action на пропуск события#}">Пропустить</a>
        <a href="{#добавить action на выполнение события#}">Выполнить</a>
    {% endif %}
{% endblock %}