{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    {% if object.archive %}
        <span class="label label-success">в архиве</span>
    {% else %}
        {% if object.flatsEvents | length %}
            {% for flatEvent in object.flatsEvents %}
                {% set next_event = get_next_event(flatEvent) %}
                {% if next_event %}
                    <span><b>{{ next_event.event.name }}({{ next_event.dateGenerate.format('d.m.Y') }})</b></span>
                    <a href="{{ path('admin_app_flat_perform', {flat_id: flatEvent.flat.id, event: flatEvent.event.alias}) }}">Выполнить</a>
                    <a href="{{ path('admin_app_flat_miss', {flat_id: flatEvent.flat.id, event: flatEvent.event.alias}) }}">Пропустить</a>
                {% else %}
                    <span class="label label-success">ожидает действий пользователя</span>
                {% endif %}
            {% endfor %}
        {% else %}
            <span class="label label-success">отсутствует</span>
        {% endif %}
    {% endif %}
{% endblock %}