{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <a href="{{ path('admin_app_street_edit', {id: object.house.street.id}) }}">{{ object.house.street.title }}</a>
{% endblock %}