<div class="form-group" ng-class="{'has-error': debtor.company.$invalid && debtor.company.$dirty}" ng-show="companies.length > 1">
    <label for="company" class="control-label required">Управляющая компания</label>
    <select name="company" id="company" ng-model="formData.company" ng-options="company.id as company.title for company in companies" required backend>
        <option value="">--Выберите управляющую компанию--</option>
    </select>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.company.$invalid && debtor.company.$dirty" ng-messages="debtor.company.$error">
        <ul class="list-unstyled">
            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Выберите управлющую компанию</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.company.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>