{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    <div class="sonata-ba-form" ng-controller="DebtorCreateCtrl">
        <script type="text/ng-init" name="Path">{{ {
                AdminDebtorTypes: path('admin_app_debtor_types')
            } |json_encode | raw }}</script>
        <form name="debtor">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h4>Должники</h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        {% include '@App/Admin/Debtor/debtor_type.html.twig' %}
                                        
                                        <div ng-if="formData.debtorType.alias == 'individual'">
                                            {#форма#}
                                        </div>
                                        
                                        <div ng-if="formData.debtorType.alias == 'businessman'">
                                            {#форма#}
                                        </div>
                                        
                                        <div ng-if="formData.debtorType.alias == 'legal_entity'">
                                            {#форма#}
                                        </div>
    
                                        <div class="box box-primary">
                                            <div class="box-header">
                                                <p class="box-title">Период взыскания</p>
                                                {% include '@App/Admin/Debtor/debt_period.html.twig' %}
                                            </div>
                                        </div>
    
                                        <div class="box box-primary">
                                            <div class="box-header">
                                                <p class="box-title">Суммы задолженности</p>
                                                {% include '@App/Admin/Debtor/sums_debts.html.twig' %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <button ng-click="submit($event, debtor)">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block sonata_javascript_pool %}
    {{ parent() }}
    {% javascripts
        '@cms_debtor'
    %}
    <script type="text/javascript" src="{{ asset(asset_url, 'js') }}"></script>
    {% endjavascripts %}
{% endblock %}
