<div class="form-group" ng-class="{'has-error': debtor.type.$invalid && debtor.type.$dirty}">
    <label for="type" class="control-label required">Тип должника</label>
    <select name="type" id="type" ng-model="formData.debtorType" ng-options="debtorType as debtorType.title for debtorType in debtorTypes" required backend>
        <option value="">--Выберите тип должника--</option>
    </select>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.type.$invalid && debtor.type.$dirty" ng-messages="debtor.type.$error">
        <ul class="list-unstyled">
            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Выберите тип должника</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.type.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>