<div class="form-group" ng-class="{'has-error': debtor.startDebtPeriod.$error.pattern && debtor.startDebtPeriod.$invalid && debtor.startDebtPeriod.$dirty}">
    <label for="startDebtPeriod" class="control-label">Начало</label>
    <input name="startDebtPeriod" id="startDebtPeriod" type="text" class="form-control" ng-model="formData.startDebtPeriod" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.startDebtPeriod.$invalid && debtor.startDebtPeriod.$dirty" ng-messages="debtor.startDebtPeriod.$error">
        <ul class="list-unstyled">
            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата начала периода взыскания</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.startDebtPeriod.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>
<div class="form-group" ng-class="{'has-error': debtor.endDebtPeriod.$error.pattern && debtor.endDebtPeriod.$invalid && debtor.endDebtPeriod.$dirty}">
    <label for="endDebtPeriod" class="control-label">Конец</label>
    <input name="endDebtPeriod" id="endDebtPeriod" type="text" class="form-control" ng-model="formData.endDebtPeriod" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.endDebtPeriod.$invalid && debtor.endDebtPeriod.$dirty" ng-messages="debtor.endDebtPeriod.$error">
        <ul class="list-unstyled">
            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата конца периода взыскания</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.endDebtPeriod.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>