<div class="form-group" ng-class="{'has-error': debtor.debtorType.$invalid && debtor.debtorType.$dirty}">
    <label for="debtorType" class="control-label required">Тип должника</label>
    <select name="debtorType" id="debtorType" ng-model="formData.debtorType" ng-options="debtorType as debtorType.title for debtorType in debtorTypes" required backend>
        <option value="">--Выберите тип должника--</option>
    </select>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.debtorType.$invalid && debtor.debtorType.$dirty" ng-messages="debtor.debtorType.$error">
        <ul class="list-unstyled">
            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Выберите тип должника</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.debtorType.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>