<div class="form-group" ng-class="{'has-error': debtor.email.$invalid && debtor.email.$dirty}">
    <label for="email" class="control-label required">E-mail</label>
    <input name="email" id="email" type="email" class="form-control" ng-model="formData.debtorInfo.email" required backend>
    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.email.$invalid && debtor.email.$dirty" ng-messages="debtor.email.$error">
        <ul class="list-unstyled">
            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите E-mail</li>
            <li ng-message="email"><i class="fa fa-exclamation-circle"></i>Неверно введен E-mail</li>
            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.email.errorMessages.backend ]]</li>
        </ul>
    </div>
</div>