<div class="box box-primary">
    <div class="box-header">
        <p class="box-title">Юридическое лицо</p>
        <div class="form-group">
            <label for="ownerName" class="control-label">Наименование</label>
            <input name="ownerName" id="ownerName" type="text" class="form-control" ng-model="formData.debtorInfo.ownerName">
        </div>
        <div class="form-group">
            <label for="ogrn" class="control-label">ОГРН</label>
            <input name="ogrn" id="ogrn" type="text" class="form-control" ng-model="formData.debtorInfo.ogrn">
        </div>
        <div class="form-group">
            <label for="inn" class="control-label">ИНН</label>
            <input name="inn" id="inn" type="text" class="form-control" ng-model="formData.debtorInfo.inn">
        </div>
        {#статус#}
        <div class="form-group" ng-class="{'has-error': debtor.location.$invalid && debtor.location.$dirty}">
            <label for="location" class="control-label required">Адрес местонахождения</label>
            <input name="location" id="location" type="text" class="form-control" ng-model="formData.debtorInfo.location" required backend>
            <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.location.$invalid && debtor.location.$dirty" ng-messages="debtor.location.$error">
                <ul class="list-unstyled">
                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите адрес местонаждения</li>
                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.location.errorMessages.backend ]]</li>
                </ul>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': debtor.bossName.$invalid && debtor.bossName.$dirty}">
            <label for="bossName" class="control-label required">ФИО руководителя</label>
            <input name="bossName" id="bossName" type="text" class="form-control" ng-model="formData.debtorInfo.bossName" required backend>
            <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.bossName.$invalid && debtor.bossName.$dirty" ng-messages="debtor.bossName.$error">
                <ul class="list-unstyled">
                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите ФИО руководителя</li>
                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.bossName.errorMessages.backend ]]</li>
                </ul>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': debtor.bossPosition.$invalid && debtor.bossPosition.$dirty}">
            <label for="bossPosition" class="control-label required">Должность руководителя</label>
            <input name="bossPosition" id="bossPosition" type="text" class="form-control" ng-model="formData.debtorInfo.bossPosition" required backend>
            <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.bossPosition.$invalid && debtor.bossPosition.$dirty" ng-messages="debtor.bossPosition.$error">
                <ul class="list-unstyled">
                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите должность руководителя</li>
                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.bossPosition.errorMessages.backend ]]</li>
                </ul>
            </div>
        </div>
        {% include '@App/Admin/Debtor/phone_field.html.twig' %}
        {% include '@App/Admin/Debtor/email_field.html.twig' %}
    </div>
</div>