<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <p class="box-title">Сумма основного долга</p>
                <div class="form-group" ng-class="{'has-error': debtor.dateFillDebt.$error.pattern && debtor.dateFillDebt.$invalid && debtor.dateFillDebt.$dirty}">
                    <label for="dateFillDebt" class="control-label">Дата заполнения</label>
                    <input name="dateFillDebt" id="dateFillDebt" type="text" class="form-control" ng-model="formData.dateFillDebt" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.dateFillDebt.$invalid && debtor.dateFillDebt.$dirty" ng-messages="debtor.dateFillDebt.$error">
                        <ul class="list-unstyled">
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата заполнения</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.dateFillDebt.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.sumDebt.$error.pattern && debtor.sumDebt.$invalid && debtor.sumDebt.$dirty}">
                    <label for="sumDebt" class="control-label">Сумма долга</label>
                    <input name="sumDebt" id="sumDebt" type="number" class="form-control" ng-model="formData.sumDebt" ng-pattern="/^\d+$/" backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.sumDebt.$invalid && debtor.sumDebt.$dirty" ng-messages="debtor.sumDebt.$error">
                        <ul class="list-unstyled">
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма долга</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.sumDebt.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.periodAccruedDebt.$invalid && debtor.periodAccruedDebt.$dirty}">
                    <label for="periodAccruedDebt" class="control-label required">За период начислено</label>
                    <input name="periodAccruedDebt" id="periodAccruedDebt" type="number" class="form-control" ng-model="formData.periodAccruedDebt" ng-pattern="/^\d+$/" required backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.periodAccruedDebt.$invalid && debtor.periodAccruedDebt.$dirty" ng-messages="debtor.periodAccruedDebt.$error">
                        <ul class="list-unstyled">
                            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите сумму начисления</li>
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма начисления</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.periodAccruedDebt.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.periodPayDebt.$invalid && debtor.periodPayDebt.$dirty}">
                    <label for="periodPayDebt" class="control-label required">За период оплачено</label>
                    <input name="periodPayDebt" id="periodPayDebt" type="number" class="form-control" ng-model="formData.periodPayDebt" ng-pattern="/^\d+$/" required backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.periodPayDebt.$invalid && debtor.periodPayDebt.$dirty" ng-messages="debtor.periodPayDebt.$error">
                        <ul class="list-unstyled">
                            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите сумму оплаты</li>
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма оплаты</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.periodPayDebt.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <p class="box-title">Сумма задолженности по оплате пени</p>
                <div class="form-group" ng-class="{'has-error': debtor.dateFillFine.$error.pattern && debtor.dateFillFine.$invalid && debtor.dateFillFine.$dirty}">
                    <label for="dateFillFine" class="control-label">Дата заполнения</label>
                    <input name="dateFillFine" id="dateFillFine" type="text" class="form-control" ng-model="formData.dateFillFine" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.dateFillFine.$invalid && debtor.dateFillFine.$dirty" ng-messages="debtor.dateFillFine.$error">
                        <ul class="list-unstyled">
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата заполнения</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.dateFillFine.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.sumFine.$error.pattern && debtor.sumFine.$invalid && debtor.sumFine.$dirty}">
                    <label for="sumFine" class="control-label">Сумма пени</label>
                    <input name="sumFine" id="sumFine" type="number" class="form-control" ng-model="formData.sumFine" ng-pattern="/^\d+$/" backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.sumFine.$invalid && debtor.sumFine.$dirty" ng-messages="debtor.sumFine.$error">
                        <ul class="list-unstyled">
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма долга</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.sumFine.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.periodAccruedFine.$invalid && debtor.periodAccruedFine.$dirty}">
                    <label for="periodAccruedFine" class="control-label required">За период начислено</label>
                    <input name="periodAccruedFine" id="periodAccruedFine" type="number" class="form-control" ng-model="formData.periodAccruedFine" ng-pattern="/^\d+$/" required backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.periodAccruedFine.$invalid && debtor.periodAccruedFine.$dirty" ng-messages="debtor.periodAccruedFine.$error">
                        <ul class="list-unstyled">
                            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите сумму начисления</li>
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма начисления</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.periodAccruedFine.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': debtor.periodPayFine.$invalid && debtor.periodPayFine.$dirty}">
                    <label for="periodPayFine" class="control-label required">За период оплачено</label>
                    <input name="periodPayFine" id="periodPayFine" type="number" class="form-control" ng-model="formData.periodPayFine" ng-pattern="/^\d+$/" required backend>
                    <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.periodPayFine.$invalid && debtor.periodPayFine.$dirty" ng-messages="debtor.periodPayFine.$error">
                        <ul class="list-unstyled">
                            <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите сумму оплаты</li>
                            <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана сумма оплаты</li>
                            <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.periodPayFine.errorMessages.backend ]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>