services:
    app.admin.user:
        class: AppBundle\Admin\UserAdmin
        arguments: [~, AppBundle\Entity\User, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.user, label: Пользователи }
        public: true

    app.admin.company:
        class: AppBundle\Admin\CompanyAdmin
        arguments: [~, AppBundle\Entity\Company, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.company, label: Управляющие компании }
        public: true

    app.admin.debtor:
        class: AppBundle\Admin\DebtorAdmin
        arguments: [~, AppBundle\Entity\Debtor, AppBundle:Admin\Debtor]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.debtor, label: Должники }
        public: true
