services:
    app.admin.user:
        class: AppBundle\Admin\UserAdmin
        arguments: [~, AppBundle\Entity\User, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.user, label: Пользователи }
        public: true

    app.admin.company:
        class: AppBundle\Admin\CompanyAdmin
        arguments: [~, AppBundle\Entity\Company, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.company, label: Управляющие компании }
        public: true

    app.admin.city:
        class: AppBundle\Admin\CityAdmin
        arguments: [~, AppBundle\Entity\City, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.home, label: Города }
        public: true

    app.admin.street:
        class: AppBundle\Admin\StreetAdmin
        arguments: [~, AppBundle\Entity\Street, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.home, label: Улицы }
        public: true

    app.admin.house:
        class: AppBundle\Admin\HouseAdmin
        arguments: [~, AppBundle\Entity\House, SonataAdminBundle:CRUD]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.home, label: Дома }
        public: true

    app.admin.flat:
        class: AppBundle\Admin\FlatAdmin
        arguments: [~, AppBundle\Entity\Flat, AppBundle:Admin\FlatAdmin]
        tags:
            - { name: sonata.admin, manager_type: orm, group: cms.home, label: Помещения }
        public: true
