services:

    # базовый генератор
    app.generator.base:
        class: AppBundle\EventGenerator\Generator\BaseGenerator
        arguments:
            - "@doctrine.orm.doctrine_entity_manager"
            - "@app.service.flat_logger"
            - "@router"
            - "@app.service.template_generator"
            - "@templating"
        abstract: true

    # аггрегатор генераторов
    app.generator.aggregate:
        class: AppBundle\EventGenerator\Generator\GeneratorAggregate
        arguments:
            - "@doctrine.orm.doctrine_entity_manager"
            - "@app.service.flat_logger"
        calls:
            - [ addEventGenerator, ["@app.generator.entered_processing", "entered_processing"] ]
            - [ addEventGenerator, ["@app.generator.pretense1", "pretense1"] ]
            - [ addEventGenerator, ["@app.generator.pretense2", "pretense2"] ]
            - [ addEventGenerator, ["@app.generator.formation_court_order", "formation_court_order"] ]
            - [ addEventGenerator, ["@app.generator.applying_court_order", "applying_court_order"] ]
            - [ addEventGenerator, ["@app.generator.obtaining_court_order", "obtaining_court_order"] ]
            - [ addEventGenerator, ["@app.generator.formation_statement_claim", "formation_statement_claim"] ]
            - [ addEventGenerator, ["@app.generator.applying_statement_claim", "applying_statement_claim"] ]

    # должник поступил в работу
    app.generator.entered_processing:
        class: AppBundle\EventGenerator\Generator\EnteredProcessingGenerator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.pretense1"] ]

    # претензия1
    app.generator.pretense1:
        class: AppBundle\EventGenerator\Generator\Pretense1Generator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.pretense2"] ]

    # претензия2
    app.generator.pretense2:
        class: AppBundle\EventGenerator\Generator\Pretense2Generator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.formation_court_order"] ]

    # формирование заявления на выдачу судебного приказа
    app.generator.formation_court_order:
        class: AppBundle\EventGenerator\Generator\FormationCourtOrderGenerator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.applying_court_order"] ]

    # подача заявления на выдачу судебного приказа
    app.generator.applying_court_order:
        class: AppBundle\EventGenerator\Generator\ApplyingCourtOrderGenerator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.obtaining_court_order"] ]

    # получение судебного приказа
    app.generator.obtaining_court_order:
        class: AppBundle\EventGenerator\Generator\ObtainingCourtOrderGenerator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.formation_court_order" ] ]
            - [ addNextEventGenerator, ["@app.generator.formation_statement_claim"] ]
            # добавить генератор "Заявление на возбуждение исполнительного производства"

    # формирование искового заявления
    app.generator.formation_statement_claim:
        class: AppBundle\EventGenerator\Generator\FormationStatementClaimGenerator
        parent: app.generator.base
        calls:
            - [ addNextEventGenerator, ["@app.generator.applying_statement_claim"] ]

    # подача искового заявления
    app.generator.applying_statement_claim:
        class: AppBundle\EventGenerator\Generator\ApplyingStatementClaimGenerator
        parent: app.generator.base
