services:

    app.service.template_generator:
        class: AppBundle\Service\TemplateGenerator
        arguments:
            - "@doctrine.orm.doctrine_entity_manager"
            - "@knp_snappy.pdf"
            - "@app.service.duty_calculator"
            - "%kernel.root_dir%"

    app.service.flat_logger:
        class: AppBundle\Service\FlatLogger
        arguments:
            - "@doctrine.orm.doctrine_entity_manager"

    app.service.date_differ:
        class: AppBundle\Service\DateDiffer

    app.service.duty_calculator:
        class: AppBundle\Service\DutyCalculator
