{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block form %}
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="box-body container-fluid">

                            <div class="sonata-ba-collapsed-fields">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-solid box-success">
                                                <div class="box-header">
                                                    <h4 class="box-title">
                                                        Лицевые счета
                                                    </h4>
                                                </div>
                                                <div class="box-body">
                                                    <div class="sonata-ba-collapsed-fields">
                                                        <div class="form-group" id="sonata-ba-field-container-s5c4dae029f211_house">
                                                            <label class="control-label required" for="s5c4dae029f211_house">
                                                                Дом
                                                            </label>
                                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                                <div class="select2-container" id="s2id_s5c4dae029f211_house" style="width: 100%;">
                                                                    <a href="unsafe:javascript:void(0)" class="select2-choice" tabindex="-1">
                                                                        <span class="select2-chosen" id="select2-chosen-1">Екатеринбург, Ленина, 1</span>
                                                                        <abbr class="select2-search-choice-close"></abbr>
                                                                        <span class="select2-arrow" role="presentation">
                                                                            <b role="presentation"></b>
                                                                        </span>
                                                                    </a>
                                                                    <label for="s2id_autogen1" class="select2-offscreen">
                                                                        Дом
                                                                    </label>
                                                                    <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-1" id="s2id_autogen1">
                                                                    <div class="select2-drop select2-display-none select2-with-searchbox">
                                                                        <div class="select2-search">
                                                                            <label for="s2id_autogen1_search" class="select2-offscreen">
                                                                                Дом
                                                                            </label>
                                                                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-1" id="s2id_autogen1_search" placeholder="">
                                                                        </div>
                                                                        <ul class="select2-results" role="listbox" id="select2-results-1"></ul>
                                                                    </div>
                                                                </div>
                                                                <select id="s5c4dae029f211_house" name="s5c4dae029f211[house]" class="" tabindex="-1" title="Дом" style="display: none;">
                                                                    <optgroup label="Екатеринбург">
                                                                        <option value="1">Екатеринбург, Ленина, 1</option>
                                                                    </optgroup>
                                                                </select>
                                                                <span class="help-block sonata-ba-field-help"><span style="color: blue;">Если в списке нет нужного дома, необходимо <a target="_blank" href="/app_dev.php/admin/app/house/create">добавить дом</a> и обновить страницу</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="sonata-ba-field-container-s5c4dae029f211_type">
                                                            <label class="control-label required" for="s5c4dae029f211_type">
                                                                Тип
                                                            </label>
                                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                                <div class="select2-container" id="s2id_s5c4dae029f211_type" style="width: 100%;">
                                                                    <a href="unsafe:javascript:void(0)" class="select2-choice" tabindex="-1">
                                                                        <span class="select2-chosen" id="select2-chosen-2">квартира</span>
                                                                        <abbr class="select2-search-choice-close"></abbr>
                                                                        <span class="select2-arrow" role="presentation">
                                                                            <b role="presentation"></b>
                                                                        </span>
                                                                    </a>
                                                                    <label for="s2id_autogen2" class="select2-offscreen">
                                                                        Тип
                                                                    </label>
                                                                    <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                                                                    <div class="select2-drop select2-display-none select2-with-searchbox">
                                                                        <div class="select2-search">
                                                                            <label for="s2id_autogen2_search" class="select2-offscreen">
                                                                                Тип
                                                                            </label>
                                                                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">
                                                                        </div>
                                                                        <ul class="select2-results" role="listbox" id="select2-results-2"></ul>
                                                                    </div>
                                                                </div>
                                                                <select id="s5c4dae029f211_type" name="s5c4dae029f211[type]" class="" tabindex="-1" title="Тип" style="display: none;">
                                                                    <option value="1">квартира</option>
                                                                    <option value="2">комната</option>
                                                                    <option value="3">офис</option>
                                                                    <option value="4">помещение</option>
                                                                </select>
                                                                <span class="help-block sonata-ba-field-help">
                                                                    <span style="color: blue;">Если в списке нет нужного типа квартиры, необходимо <a target="_blank" href="/app_dev.php/admin/app/flattype/create">добавить тип квартиры</a> и обновить страницу</span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="sonata-ba-field-container-s5c4dae029f211_number">
                                                            <label class="control-label required" for="s5c4dae029f211_number">
                                                                Номер помещения
                                                            </label>
                                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                                <input type="text" id="s5c4dae029f211_number" name="s5c4dae029f211[number]" required="required" class=" form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group" id="sonata-ba-field-container-s5c4dae029f211_archive">
                                                            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <div class="icheckbox_square-blue">
                                                                            <input type="checkbox" id="s5c4dae029f211_archive" name="s5c4dae029f211[archive]" class="" value="1" style="position: absolute; opacity: 0;">
                                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                                        </div>
                                                                        <span class="control-label__text">Больше не является должником (Отправить в архив)</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
