{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    {% if object.id %}
        <div ng-controller="DebtorCtrl" ng-cloak>
            <script type="text/ng-init" name="Path">{{ {
                    AdminDebtorList: path('admin_app_flat_debtor_list', {flat_id: object.id}),
                    AdminDebtorTypes: path('admin_app_flat_debtor_types'),
                    AdminDebtorOwnershipStatuses: path('admin_app_flat_ownership_statuses'),
                    AdminSubmitDebtor: path('admin_app_flat_submit_debtor')
                } | json_encode | raw }}</script>
            <script type="text/ng-init" name="Settings">{{ {
                    FlatId: object.id
                } | json_encode | raw }}</script>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h4 class="box-title">Должники</h4>
                                </div>
                                <div class="box-body">
                                    {% include '@App/Admin/Flat/Debtor/debtor_list.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h4 class="box-title">События</h4>
                                </div>
                                <div class="box-body">
                                    <div class="sonata-ba-collapsed-fields">
                                        <ul>
                                            <li>Событие 1</li>
                                            <li>Событие 2</li>
                                            <li>Событие 3</li>
                                            <li>Событие 4</li>
                                            <li>Событие 5</li>
                                            <li>Событие 6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% javascripts
            '@cms_flat'
        %}
            <script type="text/javascript" src="{{ asset(asset_url, 'js') }}"></script>
        {% endjavascripts %}
        {% stylesheets
            'bundles/app/css/select.min.min.css'
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset(asset_url, 'css') }}">
        {% endstylesheets %}
    {% endif %}
{% endblock %}
