<a data-fancybox data-src="#applying-court-order-layer" href="javascript:;">Подтвердить подачу заявления судебного приказа в суд</a>

<div style="display: none;" id="applying-court-order-layer" ng-controller="EventCtrl">
    <ng-form name="event" novalidate ng-cloak ng-init="eventAlias = '{{ event.alias }}'">
        <script type="text/ng-init" name="Path">{{ {
                (event.alias): {
                    Submit: path('admin_app_flat_process_user', {event: event.alias, flat_id: flat.id, action: 'confirm'})
                }
            } | json_encode | raw }}</script>

        <div class="form-group" ng-class="{'has-error': event.courtOrderNumber.$invalid && event.courtOrderNumber.$dirty}">
            <label for="courtOrderNumber" class="control-label required">Номер приказа</label>
            <input name="courtOrderNumber" id="courtOrderNumber" type="text" class="form-control" ng-model="formData.courtOrderNumber" required backend>
            <div class="help-block sonata-ba-field-error-messages" ng-if="event.courtOrderNumber.$invalid && event.courtOrderNumber.$dirty" ng-messages="event.courtOrderNumber.$error">
                <ul class="list-unstyled">
                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите номер приказа</li>
                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ event.courtOrderNumber.errorMessages.backend ]]</li>
                </ul>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': event.courtOrderDate.$invalid && event.courtOrderDate.$dirty}">
            <label for="courtOrderDate" class="control-label required">Дата получения приказа</label>
            <input name="courtOrderDate" id="courtOrderDate" type="text" class="form-control" ng-model="formData.courtOrderDate" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" required backend>
            <div class="help-block sonata-ba-field-error-messages" ng-if="event.courtOrderDate.$invalid && event.courtOrderDate.$dirty" ng-messages="event.courtOrderDate.$error">
                <ul class="list-unstyled">
                    <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата получения приказа</li>
                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите дату получения приказа</li>
                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ event.courtOrderDate.errorMessages.backend ]]</li>
                </ul>
            </div>
        </div>

        <button class="btn btn-success" ng-click="submit($event, event)">
            <i class="fa fa-save"></i>
            Сохранить
        </button>
    </ng-form>
</div>