<div {% block ngController %}{% endblock %}>
    <form name="debtor" novalidate ng-cloak>
        {% block customFields %}{% endblock %}

        {% include '@App/Admin/Flat/Debtor/form_control/phone.html.twig' %}

        {% include '@App/Admin/Flat/Debtor/form_control/email.html.twig' %}

        {% include '@App/Admin/Flat/Debtor/form_control/subscriber.html.twig' %}

        {% include '@App/Admin/Flat/Debtor/form_control/archive.html.twig' %}

        <button class="btn btn-success" ng-click="submit($event, debtor)">
            <i class="fa fa-save"></i>
            Сохранить
        </button>
    </form>
</div>
