<form name="debtor" novalidate ng-cloak>
    <a class="btn btn-success" ng-click="openDebtorForm()" ng-hide="state.openedDebtorForm"><i class="fa fa-plus"></i> Добавить должника</a>
    <a class="btn btn-success" ng-click="closeDebtorForm(debtor)" ng-show="state.openedDebtorForm"><i class="fa fa-close"></i> Закрыть форму</a>
    <div ng-show="state.openedDebtorForm" style="margin-top: 10px">
        {% include '@App/Admin/Flat/Debtor/form_control/type.html.twig' %}

        {#у текущего блока идет подмена контроллера в зависимости от выбранного типа должника#}
        <div ng-show="state.type" ng-controller="DebtorSubCtrl">

            {% include '@App/Admin/Flat/Debtor/ownership_block.html.twig' %}

            <div ng-show="state.type.alias == 'individual'">
                {% include '@App/Admin/Flat/Debtor/individual_form.html.twig' %}
            </div>

            <div ng-show="state.type.alias == 'businessman'">
                {% include '@App/Admin/Flat/Debtor/businessman_form.html.twig' %}
            </div>

            <div ng-show="state.type.alias == 'legal'">
                {% include '@App/Admin/Flat/Debtor/legal_form.html.twig' %}
            </div>

            {% include '@App/Admin/Flat/Debtor/form_control/phone.html.twig' %}

            {% include '@App/Admin/Flat/Debtor/form_control/email.html.twig' %}

            {% include '@App/Admin/Flat/Debtor/form_control/archive.html.twig' %}

            <button class="btn btn-success" ng-click="submit($event, debtor)">
                <i class="fa fa-save"></i>
                Сохранить
            </button>
        </div>
    </div>
</form>
