<div style="margin-top: 10px" ng-if="state.openedDebtorForm">
    <form name="debtor" novalidate ng-cloak>
        {% include '@App/Admin/Flat/Debtor/form_control/type.html.twig' %}

        <div ng-show="state.type">
            <div ng-if="state.type.alias == 'individual'">
                {% include '@App/Admin/Flat/Debtor/individual_form.html.twig' %}
            </div>

            <div ng-if="state.type.alias == 'businessman'">
                {% include '@App/Admin/Flat/Debtor/businessman_form.html.twig' %}
            </div>

            <div ng-if="state.type.alias == 'legal'">
                {% include '@App/Admin/Flat/Debtor/legal_form.html.twig' %}
            </div>
        </div>
    </form>
</div>

