<div>
    <form name="debtor" novalidate>
        {% include '@App/Admin/Flat/Debtor/form_control/debtor_type.html.twig' %}

        <div ng-show="currentDebtor.type">

            <div ng-if="currentDebtor.type.alias == 'individual'">
                {% include '@App/Admin/Flat/Debtor/debtor_individual_form.html.twig' %}
            </div>

            <div ng-if="currentDebtor.type.alias == 'businessman'">
                {% include '@App/Admin/Flat/Debtor/debtor_businessman_form.html.twig' %}
            </div>

            <div ng-if="currentDebtor.type.alias == 'legal'">
                {% include '@App/Admin/Flat/Debtor/debtor_legal_form.html.twig' %}
            </div>

            {% include '@App/Admin/Flat/Debtor/form_control/debtor_phone.html.twig' %}

            {% include '@App/Admin/Flat/Debtor/form_control/debtor_email.html.twig' %}

            <button class="btn btn-success" ng-click="submit($event, debtor)">
                <i class="fa fa-save"></i>
                Сохранить
            </button>
        </div>
    </form>
</div>

