<div ng-controller="DebtorLegalCtrl" ng-cloak>
    {% include '@App/Admin/Flat/Debtor/ownership_block.html.twig' %}

    {% include '@App/Admin/Flat/Debtor/form_control/name.html.twig' with {'label': 'Наименование', 'error': 'Укажите наименование'} %}

    {% include '@App/Admin/Flat/Debtor/form_control/ogrn.html.twig' %}

    {% include '@App/Admin/Flat/Debtor/form_control/inn.html.twig' %}

    {% include '@App/Admin/Flat/Debtor/form_control/boss_name.html.twig' %}

    {% include '@App/Admin/Flat/Debtor/form_control/boss_position.html.twig' %}

    {% include '@App/Admin/Flat/Debtor/form_control/location.html.twig' with {'label': 'Адрес местонахождения'} %}
</div>