<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h4>Информация о собственности</h4>
            </div>
            <div class="box-body">
                <div class="sonata-ba-collapsed-fields">

                    <div class="form-group" ng-class="{'has-error': debtor.ownershipStatus.$invalid && debtor.ownershipStatus.$dirty}">
                        <label for="ownershipStatus" class="control-label required">Статус собственности</label>
                        <ui-select id="ownershipStatus" name="ownershipStatus" ng-model="currentDebtor.ownershipStatus" ng-required="1" backend>
                            <ui-select-match>
                                <span ng-bind="$select.selected.title"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="ownershipStatus in ownershipStatuses[state.currentDebtorType.alias] track by ownershipStatus.id">
                                <span ng-bind="ownershipStatus.title"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.ownershipStatus.$invalid && debtor.ownershipStatus.$dirty" ng-messages="debtor.ownershipStatus.$error">
                            <ul class="list-unstyled">
                                <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите статус собственности</li>
                                <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.ownershipStatus.errorMessages.backend ]]</li>
                            </ul>
                        </div>
                    </div>

                    {#если у статуса есть дочерние статусы - показываем этот селект#}
                    <div {#ng-if="ownershipSubStatuses.length"#}ng-if="currentDebtor.ownershipStatus.children.length" class="form-group" ng-class="{'has-error': debtor.ownershipSubStatus.$invalid && debtor.ownershipSubStatus.$dirty}">
                        <ui-select id="ownershipSubStatus" name="ownershipSubStatus" ng-model="currentDebtor.ownershipSubStatus" ng-required="1" backend>
                            <ui-select-match>
                                <span ng-bind="$select.selected.title"></span>
                            </ui-select-match>
                            {#<ui-select-choices repeat="ownershipSubStatus in ownershipSubStatuses track by ownershipSubStatus.id">#}
                            <ui-select-choices repeat="ownershipSubStatus in currentDebtor.ownershipStatus.children track by ownershipSubStatus.id">
                                <span ng-bind="ownershipSubStatus.title"></span>
                            </ui-select-choices>
                        </ui-select>
                        <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.ownershipSubStatus.$invalid && debtor.ownershipSubStatus.$dirty" ng-messages="debtor.ownershipSubStatus.$error">
                            <ul class="list-unstyled">
                                <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите статус собственности</li>
                                <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.ownershipSubStatus.errorMessages.backend ]]</li>
                            </ul>
                        </div>
                    </div>

                    {#если статус "Долевой собственник", показываем поле "Размер доли"#}
                    <div ng-if="
                        currentDebtor.ownershipStatus.alias == 'owner_shared' ||
                        currentDebtor.ownershipSubStatus.alias == 'owner_shared' ||
                        currentDebtor.ownershipSubStatus.alias == 'legal_representative_underage_owner_shared'"
                    >
                        <div class="form-group" ng-class="{'has-error': debtor.shareSize.$invalid && debtor.shareSize.$dirty}">
                            <label for="shareSize" class="control-label required">Размер доли</label>
                            <input id="shareSize" name="shareSize" type="text" class="form-control" ng-model="currentDebtor.shareSize" ng-required="1" ng-pattern="/^\d\/\d{1,2}$/" backend>
                            <span class="help-block sonata-ba-field-widget-help">Указивается в виде "1/2 - половина, 1/3 - треть, 1/4 - четверть и т.д."</span>
                            <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.shareSize.$invalid && debtor.shareSize.$dirty" ng-messages="debtor.shareSize.$error">
                                <ul class="list-unstyled">
                                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите размер доли</li>
                                    <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указан размер доли</li>
                                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.shareSize.errorMessages.backend ]]</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {#если статус "Законный представитель несовершеннолетнего собсвенника", показываем поле "ФИО собстенника"#}
                    <div ng-if="currentDebtor.ownershipStatus.alias == 'legal_representative_underage_owner'">
                        <div class="form-group" ng-class="{'has-error': debtor.ownerName.$invalid && debtor.ownerName.$dirty}">
                            <label for="ownerName" class="control-label required">ФИО собственника</label>
                            <input id="ownerName" name="ownerName" type="text" class="form-control" ng-model="currentDebtor.ownerName" ng-required="1" backend>
                            <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.ownerName.$invalid && debtor.ownerName.$dirty" ng-messages="debtor.ownerName.$error">
                                <ul class="list-unstyled">
                                    <li ng-message="required"><i class="fa fa-exclamation-circle"></i>Укажите ФИО собственника</li>
                                    <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.ownerName.errorMessages.backend ]]</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {#дата начала собсвенности#}
                    <div class="form-group" ng-class="{'has-error': debtor.startDateOwnership.$error.pattern && debtor.startDateOwnership.$invalid && debtor.startDateOwnership.$dirty}">
                        <label for="startDateOwnership" class="control-label">Дата начала собсвенности</label>
                        <input name="startDateOwnership" id="startDateOwnership" type="text" class="form-control" ng-model="currentDebtor.startDateOwnership" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
                        <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.startDateOwnership.$invalid && debtor.startDateOwnership.$dirty" ng-messages="debtor.startDateOwnership.$error">
                            <ul class="list-unstyled">
                                <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата начала собственности</li>
                                <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.startDateOwnership.errorMessages.backend ]]</li>
                            </ul>
                        </div>
                    </div>

                    {#дата окончания собственности#}
                    <div class="form-group" ng-class="{'has-error': debtor.endDateOwnership.$error.pattern && debtor.endDateOwnership.$invalid && debtor.endDateOwnership.$dirty}">
                        <label for="endDateOwnership" class="control-label">Дата окончания собсвенности</label>
                        <input name="endDateOwnership" id="endDateOwnership" type="text" class="form-control" ng-model="currentDebtor.endDateOwnership" ui-mask="99.99.9999" ng-pattern="/^([0-2]\d|3[01])\.(0\d|1[012])\.(19|20)(\d\d)$/" backend>
                        <div class="help-block sonata-ba-field-error-messages" ng-if="debtor.endDateOwnership.$invalid && debtor.endDateOwnership.$dirty" ng-messages="debtor.endDateOwnership.$error">
                            <ul class="list-unstyled">
                                <li ng-message="pattern"><i class="fa fa-exclamation-circle"></i>Неверно указана дата окончания собственности</li>
                                <li ng-message="backend"><i class="fa fa-exclamation-circle"></i>[[ debtor.endDateOwnership.errorMessages.backend ]]</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
